body{
  background-color: rgb(28,43,65);
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.move-button{
  background-color: rgb(177, 177, 177);
}

.add-button{
  transition: 0.1s ease;
  background-color: rgb(42,187,127); /* 500 */ }

.add-button:hover{
  transition: 0.3s ease;
  background-color: rgb(34,160,107);} /* 600 */ 

.delete-button{
  transition: 0.1s ease;
  background-color: rgb(218,98,172);}
.delete-button:hover{
  transition: 0.3s ease;
  background-color: rgb(205,81,157);}

input[type="text"]{
  font-size: 1.7rem;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
}

ol {
  /* Center the list items in the middle of the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove default margin */
  padding: 60px;
}

li {
  /* Adjust the styles for each list item */
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(34,125,155);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.text{
  flex:1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}